<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1368},{208,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,219}}</string>
                <key>sourceSize</key>
                <string>{208,219}</string>
            </dict>
            <key>basketball.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,896},{235,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,234}}</string>
                <key>sourceSize</key>
                <string>{235,234}</string>
            </dict>
            <key>bluebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,254},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>bluecircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,506},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>bluesquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1132},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bluetriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,752},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
            <key>butterfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{254,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,223}}</string>
                <key>sourceSize</key>
                <string>{254,223}</string>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{225,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,280}}</string>
                <key>sourceSize</key>
                <string>{225,280}</string>
            </dict>
            <key>football.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1200},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>giraffe.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>greenbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>greencircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,500},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>greensquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,964},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>greentriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,746},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
            <key>purplebutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,229},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,481},{247,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,201}}</string>
                <key>sourceSize</key>
                <string>{247,201}</string>
            </dict>
            <key>redbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>redcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,254},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>redsquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,958},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>redtriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
            <key>smileface.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1194},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>tank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,139}}</string>
                <key>sourceSize</key>
                <string>{323,139}</string>
            </dict>
            <key>television.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{180,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,218}}</string>
                <key>sourceSize</key>
                <string>{180,218}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{176,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,227}}</string>
                <key>sourceSize</key>
                <string>{176,227}</string>
            </dict>
            <key>umbrella.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1421},{176,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,188}}</string>
                <key>sourceSize</key>
                <string>{176,188}</string>
            </dict>
            <key>yellowcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>yellowsquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>yellowtriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,684},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ItemSprites-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:618519eeb0dfd6909e9f1fe352c214e8$</string>
            <key>textureFileName</key>
            <string>ItemSprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
