<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluecircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>bluesquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,662},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bluetriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,214},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
            <key>greencircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>greensquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,214},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>greentriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
            <key>redcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>redsquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,426},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>redtriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
            <key>yellowcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>yellowsquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,214},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>yellowtriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{243,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>sourceSize</key>
                <string>{243,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shapes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f40815798285bab3ae2292e6285317a$</string>
            <key>textureFileName</key>
            <string>shapes.png</string>
        </dict>
    </dict>
</plist>
